@import "reset"
@import "mixins"
@import "colors"
@import url('https://fonts.googleapis.com/css?family=Cormorant+Garamond|Great+Vibes')

body
  background: #fff

a, p, h1, h2, h3, h4, h5
  @include font-garamond
  text-decoration: none
  transition: .3s

.container
  width: 100%
  max-width: 1070px
  margin: 0 auto

header
  @include flex
  justify-content: center
  margin-top: 65px
  nav
    @include flex
    justify-content: space-around
    width: 100%
    div
      width: 100%
    ul
      width: 100%
      @include flex
      justify-content: space-around
      a
        color: #bcbcbc
        font-size: 16px
        letter-spacing: 2px
        position: relative
        transition: .3s
        &:hover
          color: #a3a3a3
        &:after
          transition: .3s
          content: ''
          bottom: 0
        &:hover:after
          content: ''
          height: 2px
          width: 100%
          background: #E8E8E8
          display: block
          position: absolute
          animation: nav-hover .4s ease-in-out forwards

@keyframes nav-hover
  0%
    bottom: 0px
  100%
    bottom: -10px

.nav-right, .nav-left
  @include flex
  align-items: center
  flex: 2

.logo img
  margin: 0 auto
  display: block

.logo
  flex: 1

.slider
  width: 100%
  @include gradient-border
  margin-top: 40px
  padding: 24px
  z-index: 1
  position: relative
  img
    width: 100%

.welcome
  max-width: 470px
  background: #ccc
  padding: 30px
  margin: -98px auto 0 auto
  text-align: center
  background: linear-gradient(180deg, #fff, #f3f3f3)
  border: solid 1px #E7E7E7
  z-index: 2
  position: relative
  &:after
    content: ''
    background: url(../../img/shadow.png) no-repeat
    background-position: center top
    display: block
    position: absolute
    bottom: -27px
    left: 0
    right: 0
    height: 27px
    width: 100%
  h1
    @include font-vibes
    font-size: 64px
    color: #bbced0
  p
    color: #9D9D9D
    line-height: 1.5
    font-size: 16px
    margin: 18px 0 0 0
    &:after
      content: url(../../img/decoration.png)
      position: relative
      top: 18px
      display: block

.services
  @include flex
  justify-content: space-between
  a
    width: 100%
    margin: 90px 30px 30px 0
    padding-bottom: 20px
    border-bottom: 1px solid #ededed
    .service
      h1
        font-size: 48px
        color: #9D9D9D
        position: relative
        top: -25px
        transition: .3s
        span
          @include font-vibes
      text-align: center
      height: 180px
      background-size: cover
      width: 100%
      &:hover
        h1
          top: -40px
          color: $blue
      &.about
        background: url(../../img/aboutus.jpg) center
      &.galleries
        background: url(../../img/wedding2.jpg) center
      &.blog
        background: url(../../img/blog.jpg) center
  & > :last-child
    margin-right: 0px

.services-list
  ul
   @include flex
   flex-wrap: wrap
   li
     width: 50%
     text-align: center
     margin: 15px 0
     padding:  0 15px
   a
     padding: 30px
     width: 100%
     display: block
     color: #a7a7a7
     @include gradient-border
     &:hover
       background: #b4c7ca
       color: #fff

.service-description
  text-align: center
  line-height: 1.5
  font-size: 16px
  color: #9d9d9d
  margin: 40px 0
  display: block

.facebook
  background: url(../../img/facebook-bg.jpg) center
  background-size: cover
  width: 100%
  height: 347px
  margin: 60px 0
  padding: 15px
  @include flex
  justify-content: center
  align-items: center
  .f-button
    text-align: center
    background: transparent
    padding: 15px
    border: 1px solid #fff
    display: block
    transition: .3s
    &:hover
      padding: 30px
  a
    font-size: 36px
    color: #9D9D9D
    background: linear-gradient(90deg, #E4E4E4, #fff 50%, #EDEDED 100%)
    padding: 30px 90px
    display: block
    transition: .3s
    &:hover
      background: $blue
      color: #fff

.title
  display: block
  margin: 0 auto 33px auto
  text-align: center
  font-size: 48px
  color: #9D9D9D
  span
    @include font-vibes
  &:after
    content: ''
    background: url(../../img/decoration.png) no-repeat
    width: 124px
    height: 28px
    background-size: 124px 28px
    display: block
    margin: 10px auto 0 auto

.page-title
  display: block
  margin: 60px auto 33px auto
  text-align: center
  font-size: 55px
  color: #9D9D9D
  @include font-vibes
  &:after
    content: ''
    background: url(../../img/decoration.png) no-repeat
    width: 124px
    height: 28px
    background-size: 124px 28px
    display: block
    margin: 10px auto 0 auto

.gallery
  @include flex
  flex-wrap: wrap
  margin: 0 -15px
  div
    height: 270px
    width: 25%
    padding: 0 15px
    margin: 15px 0
    div
      width: 100%
      background: #ccc
      display: block

footer
  padding: 46px 0
  background: #F3F3F3
  margin-top: 60px
  font-size: 24px
  color: #8E8E8E
  ul
    @include flex
    justify-content: space-around
    margin-top: 14px
  h3
    font-size: 16px
  a
    color: #8E8E8E
    text-align: center
    line-height: 1.2
    transition: .3s
    &:hover
      color: $blue
    span
      @include font-vibes
      font-size: 36px
      &.message
        display: block
  .container
    @include flex
    justify-content: space-around
    align-items: center
  .copyright
    display: block
    text-align: center
    font-size: 14px
    color: #DADADA
    margin-top: 55px
    &:after
      content: url(../../img/decoration.png)
      display: block
      margin-top: 12px
